@import './src/themes/index.css';
.blue-background {
  background-color: var(--blue);
}

.indigo-background {
  background-color: var(--indigo);
}

.purple-background {
  background-color: var(--purple);
}

.pink-background {
  background-color: var(--pink);
}

.red-background {
  background-color: var(--red);
}

.orange-background {
  background-color: var(--orange);
}

.yellow-background {
  background-color: var(--yellow);
}

.green-background {
  background-color: var(--green);
}

.teal-background {
  background-color: var(--teal);
}

.cyan-background {
  background-color: var(--cyan);
}

.white-background {
  background-color: var(--white);
}

.gray-background {
  background-color: var(--gray);
}

.gray-dark-background {
  background-color: var(--gray-dark);
}

.primary-background {
  background-color: var(--primary);
}

.secondary-background {
  background-color: var(--secondary);
}

.success-background {
  background-color: var(--success);
}

.info-background {
  background-color: var(--info);
}

.warning-background {
  background-color: var(--warning);
}

.danger-background {
  background-color: var(--danger);
}

.light-background {
  background-color: var(--light);
}

.dark-background {
  background-color: var(--dark);
}

.transparent-background {
  background-color: var(--transparent);
}

.main-title {
  font-family: var(--font-primary);
  font-size: var(--text-size-xxl);
  font-weight: var(--weight-bold);
  color: var(--primary);
}

.section-title {
  font-family: var(--font-primary);
  font-size: var(--text-size-xl);
  font-weight: var(--weight-bold);
  color: var(--primary);
}

.sub-section-title {
  font-family: var(--font-primary);
  font-size: var(--text-size-l);
  font-weight: var(--weight-bold);
  color: var(--primary);
}

.main-subtitle {
  font-family: var(--font-secondary);
  font-size: var(--text-size-l);
  font-weight: var(--weight-bold);
  color: var(--secondary);
}

.section-subtitle {
  font-family: var(--font-secondary);
  font-size: var(--text-size-m);
  font-weight: var(--weight-bold);
  color: var(--secondary);
}

.sub-section-subtitle {
  font-family: var(--font-secondary);
  font-size: var(--text-size-m);
  font-weight: var(--weight-normal);
  color: var(--secondary);
}

.text {
  font-family: var(--font-primary);
  font-size: var(--text-size-m);
  color: var(--primary);
}

.label-text {
  font-family: var(--font-secondary);
  font-size: var(--text-size-m);
  color: var(--secondary);
  font-weight: var(----weight-bold);
}

.primary-text {
  font-family: var(--font-primary);
}

.secondary-text {
  font-family: var(--font-secondary);
}

.weight-text-thin {
  font-weight: var(--weight-thin);
}

.weight-text-100 {
  font-weight: var(--weight-100);
}

.weight-text-200 {
  font-weight: var(--weight-200);
}

.weight-text-300 {
  font-weight: var(--weight-300);
}

.weight-text-400 {
  font-weight: var(--weight-400);
}

.weight-text-500 {
  font-weight: var(--weight-500);
}

.weight-text-normal {
  font-weight: var(--weight-normal);
}

.weight-text-600 {
  font-weight: var(--weight-600);
}

.weight-text-bold {
  font-weight: var(--weight-bold);
}

.weight-text-700 {
  font-weight: var(--weight-700);
}

.weight-text-800 {
  font-weight: var(--weight-800);
}

.weight-text-bolder {
  font-weight: var(--weight-bolder);
}

.weight-text-900 {
  font-weight: var(--weight-900);
}

.style-text-italic {
  font-style: italic;
}

.style-text-line-through {
  text-decoration: line-through;
}

.success-button {
  font-family: var(--font-secondary);
  font-size: var(--text-size-m);
  color: var(--white);
  background-color: var(--success);
  border: solid 1px var(--success);
  padding: var(--space-6) var(--space-12);
  border-radius: var(--space-6);
  cursor: pointer;
}

.info-button {
  font-family: var(--font-secondary);
  font-size: var(--text-size-m);
  color: var(--white);
  background-color: var(--info);
  border: solid 1px var(--info);
  padding: var(--space-6) var(--space-12);
  border-radius: var(--space-6);
  cursor: pointer;
}

.warning-button {
  font-family: var(--font-secondary);
  font-size: var(--text-size-m);
  color: var(--white);
  background-color: var(--warning);
  border: solid 1px var(--warning);
  padding: var(--space-6) var(--space-12);
  border-radius: var(--space-6);
  cursor: pointer;
}

.danger-button {
  font-family: var(--font-secondary);
  font-size: var(--text-size-m);
  color: var(--white);
  background-color: var(--danger);
  border: solid 1px var(--danger);
  padding: var(--space-6) var(--space-12);
  border-radius: var(--space-6);
  cursor: pointer;
}

.light-button {
  font-family: var(--font-secondary);
  font-size: var(--text-size-m);
  color: var(--dark);
  background-color: var(--light);
  border: solid 1px var(--light);
  padding: var(--space-6) var(--space-12);
  border-radius: var(--space-6);
  cursor: pointer;
}

.dark-button {
  font-family: var(--font-secondary);
  font-size: var(--text-size-m);
  color: var(--light);
  background-color: var(--dark);
  border: solid 1px var(--dark);
  padding: var(--space-6) var(--space-12);
  border-radius: var(--space-6);
  cursor: pointer;
}

.success-outline-button {
  font-family: var(--font-secondary);
  font-size: var(--size-l);
  color: var(--success);
  background-color: var(--white);
  border: 1px solid var(--success);
  padding: var(--space-6) var(--space-12);
  border-radius: var(--space-6);
  cursor: pointer;
}

.info-outline-button {
  font-family: var(--font-secondary);
  font-size: var(--size-l);
  color: var(--info);
  background-color: var(--white);
  border: 1px solid var(--info);
  padding: var(--space-6) var(--space-12);
  border-radius: var(--space-6);
  cursor: pointer;
}

.warning-outline-button {
  font-family: var(--font-secondary);
  font-size: var(--size-l);
  color: var(--warning);
  background-color: var(--white);
  border: 1px solid var(--warning);
  padding: var(--space-6) var(--space-12);
  border-radius: var(--space-6);
  cursor: pointer;
}

.danger-outline-button {
  font-family: var(--font-secondary);
  font-size: var(--size-l);
  color: var(--danger);
  background-color: var(--white);
  border: 1px solid var(--danger);
  padding: var(--space-6) var(--space-12);
  border-radius: var(--space-6);
  cursor: pointer;
}

.light-outline-button {
  font-family: var(--font-secondary);
  font-size: var(--size-l);
  color: var(--dark);
  background-color: var(--white);
  border: 1px solid var(--dark);
  padding: var(--space-6) var(--space-12);
  border-radius: var(--space-6);
  cursor: pointer;
}

.dark-outline-button {
  font-family: var(--font-secondary);
  font-size: var(--size-l);
  color: var(--dark);
  background-color: var(--white);
  border: 1px solid var(--dark);
  padding: var(--space-6) var(--space-12);
  border-radius: var(--space-6);
  cursor: pointer;
}

.success-button-interactive:hover, .success-button-interactive:focus {
  opacity: 0.85;
  color: var(--white);
  transition: opacity var(--animation-m);
}

.info-button-interactive:hover, .info-button-interactive:focus {
  opacity: 0.85;
  color: var(--white);
  transition: opacity var(--animation-m);
}

.warning-button-interactive:hover, .warning-button-interactive:focus {
  opacity: 0.85;
  color: var(--white);
  transition: opacity var(--animation-m);
}

.danger-button-interactive:hover, .danger-button-interactive:focus {
  opacity: 0.85;
  color: var(--white);
  transition: opacity var(--animation-m);
}

.light-button-interactive:hover, .light-button-interactive:focus {
  opacity: 0.85;
  color: var(--white);
  transition: opacity var(--animation-m);
}

.dark-button-interactive:hover, .dark-button-interactive:focus {
  opacity: 0.85;
  color: var(--white);
  transition: opacity var(--animation-m);
}

.outline-button-interactive:hover, .outline-button-interactive:focus {
  border-color: transparent;
  transition: border-color var(--animation-m);
}

.success-link {
  color: var(--success);
}

.success-underline-link {
  color: var(--success);
  text-decoration: underline;
}

.success-link-interactive {
  color: var(--success);
}
.success-link-interactive:hover, .success-link-interactive:focus {
  transition: color var(--animation-m);
}

.success-underline-link-interactive {
  color: var(--success);
  text-decoration: underline;
}
.success-underline-link-interactive:hover, .success-underline-link-interactive:focus {
  transition: color var(--animation-m);
}

.info-link {
  color: var(--info);
}

.info-underline-link {
  color: var(--info);
  text-decoration: underline;
}

.info-link-interactive {
  color: var(--info);
}
.info-link-interactive:hover, .info-link-interactive:focus {
  transition: color var(--animation-m);
}

.info-underline-link-interactive {
  color: var(--info);
  text-decoration: underline;
}
.info-underline-link-interactive:hover, .info-underline-link-interactive:focus {
  transition: color var(--animation-m);
}

.warning-link {
  color: var(--warning);
}

.warning-underline-link {
  color: var(--warning);
  text-decoration: underline;
}

.warning-link-interactive {
  color: var(--warning);
}
.warning-link-interactive:hover, .warning-link-interactive:focus {
  transition: color var(--animation-m);
}

.warning-underline-link-interactive {
  color: var(--warning);
  text-decoration: underline;
}
.warning-underline-link-interactive:hover, .warning-underline-link-interactive:focus {
  transition: color var(--animation-m);
}

.danger-link {
  color: var(--danger);
}

.danger-underline-link {
  color: var(--danger);
  text-decoration: underline;
}

.danger-link-interactive {
  color: var(--danger);
}
.danger-link-interactive:hover, .danger-link-interactive:focus {
  transition: color var(--animation-m);
}

.danger-underline-link-interactive {
  color: var(--danger);
  text-decoration: underline;
}
.danger-underline-link-interactive:hover, .danger-underline-link-interactive:focus {
  transition: color var(--animation-m);
}

.light-link {
  color: var(--light);
}

.light-underline-link {
  color: var(--light);
  text-decoration: underline;
}

.light-link-interactive {
  color: var(--light);
}
.light-link-interactive:hover, .light-link-interactive:focus {
  transition: color var(--animation-m);
}

.light-underline-link-interactive {
  color: var(--light);
  text-decoration: underline;
}
.light-underline-link-interactive:hover, .light-underline-link-interactive:focus {
  transition: color var(--animation-m);
}

.dark-link {
  color: var(--dark);
}

.dark-underline-link {
  color: var(--dark);
  text-decoration: underline;
}

.dark-link-interactive {
  color: var(--dark);
}
.dark-link-interactive:hover, .dark-link-interactive:focus {
  transition: color var(--animation-m);
}

.dark-underline-link-interactive {
  color: var(--dark);
  text-decoration: underline;
}
.dark-underline-link-interactive:hover, .dark-underline-link-interactive:focus {
  transition: color var(--animation-m);
}

.dark-badge {
  display: inline-block;
  font-family: var(--font-secondary);
  font-size: var(--text-size-s);
  font-weight: var(--weight-bold);
  color: var(--dark);
  background-color: var(--transparent);
  padding: var(--space-4) var(--space-6);
  border-radius: var(--space-4);
}

.success-badge {
  display: inline-block;
  font-family: var(--font-secondary);
  font-size: var(--text-size-s);
  font-weight: var(--weight-bold);
  color: var(--white);
  background-color: var(--success);
  padding: var(--space-4) var(--space-6);
  border-radius: var(--space-4);
}

.info-badge {
  display: inline-block;
  font-family: var(--font-secondary);
  font-size: var(--text-size-s);
  font-weight: var(--weight-bold);
  color: var(--white);
  background-color: var(--info);
  padding: var(--space-4) var(--space-6);
  border-radius: var(--space-4);
}

.warning-badge {
  display: inline-block;
  font-family: var(--font-secondary);
  font-size: var(--text-size-s);
  font-weight: var(--weight-bold);
  color: var(--dark);
  background-color: var(--warning);
  padding: var(--space-4) var(--space-6);
  border-radius: var(--space-4);
}

.danger-badge {
  display: inline-block;
  font-family: var(--font-secondary);
  font-size: var(--text-size-s);
  font-weight: var(--weight-bold);
  color: var(--white);
  background-color: var(--danger);
  padding: var(--space-4) var(--space-6);
  border-radius: var(--space-4);
}

.primary-badge {
  display: inline-block;
  font-family: var(--font-secondary);
  font-size: var(--text-size-s);
  font-weight: var(--weight-bold);
  color: var(--white);
  background-color: var(--primary);
  padding: var(--space-4) var(--space-6);
  border-radius: var(--space-4);
}

.secondary-badge {
  display: inline-block;
  font-family: var(--font-secondary);
  font-size: var(--text-size-s);
  font-weight: var(--weight-bold);
  color: var(--white);
  background-color: var(--secondary);
  padding: var(--space-4) var(--space-6);
  border-radius: var(--space-4);
}

.card, .shadow-card-l, .shadow-card-m, .shadow-card-s, .dark-card, .dot-dark-card, .danger-card, .dot-danger-card, .warning-card, .dot-warning-card, .info-card, .dot-info-card, .success-card, .dot-success-card {
  padding: var(--space-16);
}

.success-card, .dot-success-card {
  border: 1px solid var(--success);
}

.info-card, .dot-info-card {
  border: 1px solid var(--info);
}

.warning-card, .dot-warning-card {
  border: 1px solid var(--warning);
}

.danger-card, .dot-danger-card {
  border: 1px solid var(--danger);
}

.dark-card, .dot-dark-card {
  border: 1px solid var(--dark);
}

.dot-card, .dot-dark-card, .dot-danger-card, .dot-warning-card, .dot-info-card, .dot-success-card {
  border-style: dashed;
}

.radius-card-6 {
  border-radius: var(--space-6);
}

.radius-card-8 {
  border-radius: var(--space-8);
}

.radius-card-10 {
  border-radius: var(--space-10);
}

.radius-card-12 {
  border-radius: var(--space-12);
}

.radius-card-14 {
  border-radius: var(--space-14);
}

.radius-card-16 {
  border-radius: var(--space-16);
}

.vertical-separator {
  width: 1px;
  height: 100%;
  margin: 0 var(--space-16);
  background-color: var(--dark);
}

.horizontal-separator {
  width: 100%;
  height: 1px;
  margin: var(--space-16) 0;
  background-color: var(--dark);
}

.shadow-s, .shadow-card-s {
  box-shadow: var(--box-shadow-s);
}

.shadow-m, .shadow-card-m {
  box-shadow: var(--box-shadow-m);
}

.shadow-l, .shadow-card-l {
  box-shadow: var(--box-shadow-l);
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: var(--elevation-cover);
}

.header-collapse {
  width: 100%;
  text-align: left;
  background-color: var(--white);
  padding: var(--space-16);
  border: none;
  outline: none;
  cursor: pointer;
}

.hidden-body-collapse {
  display: none;
  width: 100%;
  padding: var(--space-16);
}

.show-body-collapse {
  display: block;
  width: 100%;
  background-color: var(--white);
  padding: var(--space-16);
}

.show-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 500px;
  background-color: var(--white);
  border-radius: var(--space-8);
  padding: var(--space-16);
  z-index: var(--elevation-modal);
}
@media screen and (max-width: 768px) {
  .show-modal {
    width: 90%;
    height: 90%;
  }
}

.show-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 350px;
  background-color: var(--white);
  border-radius: var(--space-8);
  padding: var(--space-16);
  z-index: var(--elevation-dialog);
}
@media screen and (max-width: 768px) {
  .show-dialog {
    width: 90%;
    height: 300px;
  }
}

.hide-modal {
  display: none;
}

.hide-dialog {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
