@mixin base-display($display-value) {
    display: $display-value;
}

@mixin base-flex-wrap($wrap-value) {
    flex-wrap: $wrap-value;
}

@mixin base-flex-direction($direction-value) {
    flex-direction: $direction-value;
}

@mixin base-justify-content($justify-value) {
    justify-content: $justify-value;
}

@mixin base-align-items($align-value) {
    align-items: $align-value;
}

@mixin base-flex-gap($gap-size) {
    gap: $gap-size;
}

@mixin prefix-displays {
    .#{$prefix}block {
        @include base-display(block);
    }

    .#{$prefix}inline {
        @include base-display(inline);
    }

    .#{$prefix}inline-block {
        @include base-display(inline-block);
    }

    .#{$prefix}flex {
        @include base-display(flex);
    }

    .#{$prefix}none {
        @include base-display(none);
    }

    .#{$prefix}flex-wrap {
        @include base-flex-wrap(wrap);
    }

    .#{$prefix}flex-nowrap {
        @include base-flex-wrap(nowrap);
    }

    .#{$prefix}flex-row {
        @include base-flex-direction(row);
    }

    .#{$prefix}flex-column {
        @include base-flex-direction(column);
    }

    .#{$prefix}flex-column-reverse {
        @include base-flex-direction(column-reverse);
    }

    .#{$prefix}flex-row-reverse {
        @include base-flex-direction(row-reverse);
    }

    .#{$prefix}align-start {
        @include base-align-items(flex-start);
    }

    .#{$prefix}align-center {
        @include base-align-items(center);
    }

    .#{$prefix}align-end {
        @include base-align-items(flex-end);
    }

    .#{$prefix}justify-start {
        @include base-justify-content(flex-start);
    }

    .#{$prefix}justify-end {
        @include base-justify-content(flex-end);
    }

    .#{$prefix}justify-center {
        @include base-justify-content(center);
    }

    .#{$prefix}justify-between {
        @include base-justify-content(space-between);
    }

    .#{$prefix}justify-around {
        @include base-justify-content(space-around);
    }

    .#{$prefix}justify-evenly {
        @include base-justify-content(space-evenly);
    }

    @for $i from 0 to 21 {
        .#{$prefix}gap-#{$i * 2} {
            @include base-flex-gap(var(--space-#{$i * 2}));
        }
    }
}

@include prefix-displays;
