@mixin base-transform($transform) {
    text-transform: $transform;
}

@mixin prefix-fonts {
    .#{$prefix}primary-text {
        font-family: var(--font-primary);
    }

    .#{$prefix}secondary-text {
        font-family: var(--font-secondary);
    }

    .#{$prefix}size-xs {
        font-family: var(--text-size-xs);
    }

    .#{$prefix}size-m {
        font-family: var(--text-size-m);
    }

    .#{$prefix}size-l {
        font-family: var(--text-size-l);
    }

    .#{$prefix}size-xl {
        font-family: var(--text-size-xl);
    }

    .#{$prefix}size-xxl {
        font-family: var(--text-size-xxl);
    }

    .#{$prefix}align-start {
        text-align: start;
    }

    .#{$prefix}align-center {
        text-align: center;
    }

    .#{$prefix}align-end {
        text-align: end;
    }

    .#{$prefix}align-justify {
        text-align: justify;
    }

    .#{$prefix}weight-thin {
        font-weight: var(--weight-thin);
    }

    .#{$prefix}weight-100 {
        font-weight: var(--weight-100);
    }

    .#{$prefix}weight-200 {
        font-weight: var(--weight-200);
    }

    .#{$prefix}weight-300 {
        font-weight: var(--weight-300);
    }

    .#{$prefix}weight-400 {
        font-weight: var(--weight-400);
    }

    .#{$prefix}weight-500 {
        font-weight: var(--weight-500);
    }

    .#{$prefix}weight-normal {
        font-weight: var(--weight-normal);
    }

    .#{$prefix}weight-600 {
        font-weight: var(--weight-600);
    }

    .#{$prefix}weight-bold {
        font-weight: var(--weight-bold);
    }

    .#{$prefix}weight-700 {
        font-weight: var(--weight-700);
    }

    .#{$prefix}weight-800 {
        font-weight: var(--weight-800);
    }

    .#{$prefix}weight-bolder {
        font-weight: var(--weight-bolder);
    }

    .#{$prefix}weight-900 {
        font-weight: var(--weight-900);
    }

    .#{$prefix}style-italic {
        font-style: italic;
    }

    .#{$prefix}style-underline {
        text-decoration: underline;
    }

    .#{$prefix}style-through {
        text-decoration: line-through;
    }

    .#{$prefix}transform-capitalize {
        @include base-transform(capitalize);
    }

    .#{$prefix}transform-uppercase {
        @include base-transform(uppercase);
    }

    .#{$prefix}transform-lowercase {
        @include base-transform(lowercase);
    }

    .#{$prefix}transform-none {
        @include base-transform(none);
    }
}

@include prefix-fonts;
