@mixin base-badge($background-color, $color) {
    display: inline-block;
    font-family: var(--font-secondary);
    font-size: var(--text-size-s);

    color: $color;
    background-color: $background-color;

    padding: var(--space-8);
    border-radius: var(--space-4);
}

@mixin prefix-badges {
    .#{$prefix}badge-dark {
        @include base-badge(var(--transparent), var(--dark));
    }
    
    .#{$prefix}badge-success {
        @include base-badge(var(--success), var(--white));
    }
    
    .#{$prefix}badge-info {
        @include base-badge(var(--info), var(--white));
    }
    
    .#{$prefix}badge-warning {
        @include base-badge(var(--warning), var(--dark));
    }
    
    .#{$prefix}badge-danger {
        @include base-badge(var(--danger), var(--white));
    }
    
    .#{$prefix}badge-primary {
        @include base-badge(var(--primary), var(--white));
    }
    
    .#{$prefix}badge-secondary {
        @include base-badge(var(--secondary), var(--white));
    }
}

@include prefix-badges;
