@mixin base-button($font-family, $font-size, $color, $background-color, $border-color) {
    font-family: var($font-family);
    font-size: var($font-size);
    text-transform: uppercase;
    color: var($color);

    background-color: var($background-color);
    border: solid 1px var($border-color);
    padding: var(--space-8) var(--space-16);
    border-radius: var(--space-4);

    cursor: pointer;
}

@mixin base-outline-button($color) {
    font-family: var(--font-secondary);
    font-size: var(--size-l);
    text-transform: uppercase;
    color: var(#{$color});

    background-color: var(--white);
    border: 1px solid var(#{$color});
    padding: var(--space-8) var(--space-16);
    border-radius: var(--space-4);

    cursor: pointer;
}

@mixin base-disable {
    cursor: not-allowed;
}

@mixin base-hover($color) {
    &:hover,
    &:focus {
        opacity: 0.85;
        color: var(--white);
        transition: opacity var(--animation-m);
    }
}

@mixin prefix-buttons {
    .#{$prefix}button-success {
        @include base-button(--font-secondary, --text-size-m, --white, --success, --success);
    }
    
    .#{$prefix}button-info {
        @include base-button(--font-secondary, --text-size-m, --white, --info, --info);
    }
    
    .#{$prefix}button-warning {
        @include base-button(--font-secondary, --text-size-m, --white, --warning, --warning);
    }
    
    .#{$prefix}button-danger {
        @include base-button(--font-secondary, --text-size-m, --white, --danger, --danger);
    }
    
    .#{$prefix}button-light {
        @include base-button(--font-secondary, --text-size-m, --dark, --light, --light);
    }
    
    .#{$prefix}button-dark {
        @include base-button(--font-secondary, --text-size-m, --light, --dark, --dark);
    }

    .#{$prefix}button-disable {
        @include base-button(--font-secondary, --text-size-m, --light, --gray, --gray);
        @include base-disable;
    }
    
    .#{$prefix}button-outline-success {
        @include base-outline-button(--success);
    }
    
    .#{$prefix}button-outline-info {
        @include base-outline-button(--info);
    }
    
    .#{$prefix}button-outline-warning {
        @include base-outline-button(--warning);
    }
    
    .#{$prefix}button-outline-danger {
        @include base-outline-button(--danger);
    }
    
    .#{$prefix}button-outline-light {
        @include base-outline-button(--dark);
    }
    
    .#{$prefix}button-outline-dark {
        @include base-outline-button(--dark);
    }

    .#{$prefix}button-outline-gray {
        @include base-outline-button(--dark);
        @include base-disable;
    }
    
    .#{$prefix}button-success-hover {
        @include base-hover(--success);
    }
    
    .#{$prefix}button-info-hover {
        @include base-hover(--info);
    }
    
    .#{$prefix}button-warning-hover {
        @include base-hover(--warning);
    }
    
    .#{$prefix}button-danger-hover {
        @include base-hover(--danger);
    }
    
    .#{$prefix}button-light-hover {
        @include base-hover(--light);
    }
    
    .#{$prefix}button-dark-hover {
        @include base-hover(--dark);
    }
    
    .#{$prefix}button-outline-hover {
    
        &:hover,
        &:focus {
            border-color: var(--transparent);
            transition: border-color var(--animation-m);
        }
    }
}

@include prefix-buttons;
