.header-collapse {
    @extend .#{$prefix}width-full;
    text-align: left;

    background-color: var(--white);
    padding: var(--space-16);

    border: none;
    outline: none;
    cursor: pointer;
}

.hidden-body-collapse {
    @extend .#{$prefix}display-none;
    @extend .#{$prefix}width-full;
    padding: var(--space-16);
}

.show-body-collapse {
    @extend .#{$prefix}display-block;
    @extend .#{$prefix}width-full;

    background-color: var(--white);
    padding: var(--space-16);
}

// text-align: left;
