@mixin base-modal($width, $height, $z-index, $breakpoint) {
    @extend .#{$prefix}position-fixed;
    @extend .#{$prefix}center;

    width: $width;
    height: $height;
    background-color: var(--white);
    border-radius: var(--space-8);
    padding: var(--space-16);
    z-index: $z-index;
}

@mixin base-modal-responsive($width, $height) {
    @media screen and (max-width: 768px) {
        width: $width;
        height: $height;
    }
}

@mixin base-hide-modal {
    display: none;
}

.show-modal {
    @include base-modal(600px, 500px, var(--elevation-modal), var(--breakpoint-m));
    @include base-modal-responsive(90%, 90%);
}

.show-dialog {
    @include base-modal(500px, 350px, var(--elevation-dialog), var(--breakpoint-m));
    @include base-modal-responsive(90%, 300px);
}

.hide-modal {
    @include base-hide-modal();
}

.hide-dialog {
    @include base-hide-modal();
}
