@mixin base-text($font-family, $font-size, $color, $font-weight) {
    font-family: var($font-family);
    font-size: var($font-size);
    color: var($color);

    @if $font-weight {
        font-weight: var(--#{$font-weight});
    }
}

@mixin prefix-texts {
    .#{$prefix}text {
        @include base-text(--font-primary, --text-size-m, --primary, null);
    }

    .#{$prefix}label-text {
        @include base-text(--font-secondary, --text-size-m, --secondary, --weight-bold);
    }

    .#{$prefix}primary-text {
        font-family: var(--font-primary);
    }

    .#{$prefix}secondary-text {
        font-family: var(--font-secondary);
    }

    .#{$prefix}weight-thin {
        font-weight: var(--weight-thin);
    }

    .#{$prefix}weight-100 {
        font-weight: var(--weight-100);
    }

    .#{$prefix}weight-200 {
        font-weight: var(--weight-200);
    }

    .#{$prefix}weight-300 {
        font-weight: var(--weight-300);
    }

    .#{$prefix}weight-400 {
        font-weight: var(--weight-400);
    }

    .#{$prefix}weight-500 {
        font-weight: var(--weight-500);
    }

    .#{$prefix}weight-normal {
        font-weight: var(--weight-normal);
    }

    .#{$prefix}weight-600 {
        font-weight: var(--weight-600);
    }

    .#{$prefix}weight-bold {
        font-weight: var(--weight-bold);
    }

    .#{$prefix}weight-700 {
        font-weight: var(--weight-700);
    }

    .#{$prefix}weight-800 {
        font-weight: var(--weight-800);
    }

    .#{$prefix}weight-bolder {
        font-weight: var(--weight-bolder);
    }

    .#{$prefix}weight-900 {
        font-weight: var(--weight-900);
    }

    .#{$prefix}style-italic {
        font-style: italic;
    }

    .#{$prefix}style-underline {
        text-decoration: underline;
    }

    .#{$prefix}style-through {
        text-decoration: line-through;
    }
}

@include prefix-texts;

// .text {
//     @include base-text(--font-primary, --text-size-m, --primary, null);
// }

// .label-text {
//     @include base-text(--font-secondary, --text-size-m, --secondary, --weight-bold);
// }

// .primary-text {
//     font-family: var(--font-primary);
// }

// .secondary-text {
//     font-family: var(--font-secondary);
// }

// .weight-text-thin {
//     font-weight: var(--weight-thin);
// }

// .weight-text-100 {
//     font-weight: var(--weight-100);
// }

// .weight-text-200 {
//     font-weight: var(--weight-200);
// }

// .weight-text-300 {
//     font-weight: var(--weight-300);
// }

// .weight-text-400 {
//     font-weight: var(--weight-400);
// }

// .weight-text-500 {
//     font-weight: var(--weight-500);
// }

// .weight-text-normal {
//     font-weight: var(--weight-normal);
// }

// .weight-text-600 {
//     font-weight: var(--weight-600);
// }

// .weight-text-bold {
//     font-weight: var(--weight-bold);
// }

// .weight-text-700 {
//     font-weight: var(--weight-700);
// }

// .weight-text-800 {
//     font-weight: var(--weight-800);
// }

// .weight-text-bolder {
//     font-weight: var(--weight-bolder);
// }

// .weight-text-900 {
//     font-weight: var(--weight-900);
// }

// .style-text-italic {
//     font-style: italic;
// }

// .style-text-line-through {
//     text-decoration: line-through;
// }