@mixin base-button($font-family, $font-size, $color, $background-color, $border-color) {
    font-family: var($font-family);
    font-size: var($font-size);
    color: var($color);

    background-color: var($background-color);
    border: solid 1px var($border-color);
    padding: var(--space-6) var(--space-12);
    border-radius: var(--space-6);

    cursor: pointer;
}

@mixin base-outline-button($color) {
    font-family: var(--font-secondary);
    font-size: var(--size-l);
    color: var(#{$color});

    background-color: var(--white);
    border: 1px solid var(#{$color});
    padding: var(--space-6) var(--space-12);
    border-radius: var(--space-6);

    cursor: pointer;
}

@mixin base-disable {
    cursor: not-allowed;
}

@mixin base-hover($color) {

    &:hover,
    &:focus {
        opacity: 0.85;
        color: var(--white);
        transition: opacity var(--animation-m);
    }
}

@mixin prefix-buttons {
    .#{$prefix}success-button {
        @include base-button(--font-secondary, --text-size-m, --white, --success, --success);
    }
    
    .#{$prefix}info-button {
        @include base-button(--font-secondary, --text-size-m, --white, --info, --info);
    }
    
    .#{$prefix}warning-button {
        @include base-button(--font-secondary, --text-size-m, --white, --warning, --warning);
    }
    
    .#{$prefix}danger-button {
        @include base-button(--font-secondary, --text-size-m, --white, --danger, --danger);
    }
    
    .#{$prefix}light-button {
        @include base-button(--font-secondary, --text-size-m, --dark, --light, --light);
    }
    
    .#{$prefix}dark-button {
        @include base-button(--font-secondary, --text-size-m, --light, --dark, --dark);
    }

    .#{$prefix}disable-button {
        @include base-button(--font-secondary, --text-size-m, --light, --gray, --gray);
        @include base-disable;
    }
    
    .#{$prefix}success-outline-button {
        @include base-outline-button(--success);
    }
    
    .#{$prefix}info-outline-button {
        @include base-outline-button(--info);
    }
    
    .#{$prefix}warning-outline-button {
        @include base-outline-button(--warning);
    }
    
    .#{$prefix}danger-outline-button {
        @include base-outline-button(--danger);
    }
    
    .#{$prefix}light-outline-button {
        @include base-outline-button(--dark);
    }
    
    .#{$prefix}dark-outline-button {
        @include base-outline-button(--dark);
    }

    .#{$prefix}gray-outline-button {
        @include base-outline-button(--dark);
        @include base-disable;
    }
    
    .#{$prefix}success-button-hover {
        @include base-hover(--success);
    }
    
    .#{$prefix}info-button-hover {
        @include base-hover(--info);
    }
    
    .#{$prefix}warning-button-hover {
        @include base-hover(--warning);
    }
    
    .#{$prefix}danger-button-hover {
        @include base-hover(--danger);
    }
    
    .#{$prefix}light-button-hover {
        @include base-hover(--light);
    }
    
    .#{$prefix}dark-button-hover {
        @include base-hover(--dark);
    }
    
    .#{$prefix}outline-button-hover {
    
        &:hover,
        &:focus {
            border-color: var(--transparent);
            transition: border-color var(--animation-m);
        }
    }
}

@include prefix-buttons;
