@mixin base-card() {
    padding: var(--space-16);
}

@mixin base-border-card($type, $color) {
    border: 1px $type $color;
}

@mixin base-solid-card($color) {
    border: 1px solid $color;
}

@mixin base-dashed-card($color) {
    border: 1px dashed $color;
}

@mixin prefix-cards {

    
    .#{$prefix}success-card {
        @include base-card;
        @include base-border-card(solid, var(--success));
    }
    
    .#{$prefix}info-card {
        @include base-card;
        @include base-border-card(solid, var(--info));
    }
    
    .#{$prefix}warning-card {
        @include base-card;
        @include base-border-card(solid, var(--warning));
    }
    
    .#{$prefix}danger-card {
        @include base-card;
        @include base-border-card(solid, var(--danger));
    }
    
    .#{$prefix}dark-card {
        @include base-card;
        @include base-border-card(solid, var(--dark));
    }
    
    .#{$prefix}success-dot-card {
        @include base-card;
        @include base-border-card(dashed, var(--success));
    }
    
    .#{$prefix}info-dot-card {
        @include base-card;
        @include base-border-card(dashed, var(--info));
    }
    
    .#{$prefix}warning-dot-card {
        @include base-card;
        @include base-border-card(dashed, var(--warning));
    }
    
    .#{$prefix}danger-dot-card {
        @include base-card;
        @include base-border-card(dashed, var(--danger));
    }
    
    .#{$prefix}dark-dot-card {
        @include base-card;
        @include base-border-card(dashed, var(--dark));
    }
    
    .#{$prefix}shadow-card-s {
        @include base-card;
        @extend .#{$prefix}shadow-s;
    }
    
    .#{$prefix}shadow-card-m {
        @include base-card;
        @extend .#{$prefix}shadow-m;
    }
    
    .#{$prefix}shadow-card-l {
        @include base-card;
        @extend .#{$prefix}shadow-l;
    }
}

@include prefix-cards;
