@mixin base-card() {
    padding: var(--space-16);
}

@mixin base-border-card($type, $color) {
    border: 1px $type $color;
}

@mixin base-solid-card($color) {
    border: 1px solid $color;
}

@mixin base-dashed-card($color) {
    border: 1px dashed $color;
}

@mixin prefix-cards {
    .#{$prefix}card-success {
        @include base-card;
        @include base-border-card(solid, var(--success));
    }
    
    .#{$prefix}card-info {
        @include base-card;
        @include base-border-card(solid, var(--info));
    }
    
    .#{$prefix}card-warning {
        @include base-card;
        @include base-border-card(solid, var(--warning));
    }
    
    .#{$prefix}card-danger {
        @include base-card;
        @include base-border-card(solid, var(--danger));
    }
    
    .#{$prefix}card-dark {
        @include base-card;
        @include base-border-card(solid, var(--dark));
    }
    
    .#{$prefix}card-dot-success {
        @include base-card;
        @include base-border-card(dashed, var(--success));
    }
    
    .#{$prefix}card-dot-info {
        @include base-card;
        @include base-border-card(dashed, var(--info));
    }
    
    .#{$prefix}card-dot-warning {
        @include base-card;
        @include base-border-card(dashed, var(--warning));
    }
    
    .#{$prefix}card-dot-danger {
        @include base-card;
        @include base-border-card(dashed, var(--danger));
    }
    
    .#{$prefix}card-dot-dark {
        @include base-card;
        @include base-border-card(dashed, var(--dark));
    }
    
    .#{$prefix}card-shadow-s {
        @include base-card;
        @extend .#{$prefix}shadow-s;
    }
    
    .#{$prefix}card-shadow-m {
        @include base-card;
        @extend .#{$prefix}shadow-m;
    }
    
    .#{$prefix}card-shadow-l {
        @include base-card;
        @extend .#{$prefix}shadow-l;
    }
}

@include prefix-cards;
