@mixin base-link($color, $underline: false, $animated: false) {
    color: var(--#{$color});
    @if $underline {
      text-decoration: underline;
    }
    @if $animated {
      &:hover, &:focus {
        transition: color var(--animation-m);
      }
    }
  }
  
  .success-link {
    @include base-link(success);
  }
  
  .success-underline-link {
    @include base-link(success, true);
  }
  
  .success-link-interactive {
    @include base-link(success, false, true);
  }
  
  .success-underline-link-interactive {
    @include base-link(success, true, true);
  }
  
  .info-link {
    @include base-link(info);
  }
  
  .info-underline-link {
    @include base-link(info, true);
  }
  
  .info-link-interactive {
    @include base-link(info, false, true);
  }
  
  .info-underline-link-interactive {
    @include base-link(info, true, true);
  }
  
  .warning-link {
    @include base-link(warning);
  }
  
  .warning-underline-link {
    @include base-link(warning, true);
  }
  
  .warning-link-interactive {
    @include base-link(warning, false, true);
  }
  
  .warning-underline-link-interactive {
    @include base-link(warning, true, true);
  }
  
  .danger-link {
    @include base-link(danger);
  }
  
  .danger-underline-link {
    @include base-link(danger, true);
  }
  
  .danger-link-interactive {
    @include base-link(danger, false, true);
  }
  
  .danger-underline-link-interactive {
    @include base-link(danger, true, true);
  }
  
  .light-link {
    @include base-link(light);
  }
  
  .light-underline-link {
    @include base-link(light, true);
  }
  
  .light-link-interactive {
    @include base-link(light, false, true);
  }
  
  .light-underline-link-interactive {
    @include base-link(light, true, true);
  }
  
  .dark-link {
    @include base-link(dark);
  }
  
  .dark-underline-link {
    @include base-link(dark, true);
  }
  
  .dark-link-interactive {
    @include base-link(dark, false, true);
  }
  
  .dark-underline-link-interactive {
    @include base-link(dark, true, true);
  }
  