@mixin base-separator($width, $height, $margin) {
	width: $width;
	height: $height;
	margin: $margin;
	background-color: var(--dark);
}

@mixin prefix-separators { 
	.#{$prefix}vertical-separator {
		@include base-separator(1px, 100%, 0 var(--space-16));
	}
	
	.#{$prefix}horizontal-separator {
		@include base-separator(100%, 1px, var(--space-16) 0);
	}
}

@include prefix-separators;
