@mixin base-title($font-size, $font-weight, $color) {
    font-family: var(--font-primary);
    font-size: var($font-size);
    font-weight: var($font-weight);
    color: var($color);
}

@mixin base-subtitle($font-size, $font-weight, $color) {
    font-family: var(--font-secondary);
    font-size: var($font-size);
    font-weight: var($font-weight);
    color: var($color);
}

.main-title {
    @include base-title(--text-size-xxl, --weight-bold, --primary);
}

.section-title {
    @include base-title(--text-size-xl, --weight-bold, --primary);
}

.sub-section-title {
    @include base-title(--text-size-l, --weight-bold, --primary);
}

.main-subtitle {
    @include base-subtitle(--text-size-l, --weight-bold, --secondary);
}

.section-subtitle {
    @include base-subtitle(--text-size-m, --weight-bold, --secondary);
}

.sub-section-subtitle {
    @include base-subtitle(--text-size-m, --weight-normal, --secondary);
}