@mixin base-title($font-size, $font-weight, $color) {
    font-family: var(--font-primary);
    font-size: var($font-size);
    font-weight: var($font-weight);
    color: var($color);
}

@mixin base-subtitle($font-size, $font-weight, $color) {
    font-family: var(--font-secondary);
    font-size: var($font-size);
    font-weight: var($font-weight);
    color: var($color);
}

@mixin prefix-titles { 
    .#{$prefix}title-main {
        @include base-title(--text-size-xxl, --weight-bold, --primary);
    }
    
    .#{$prefix}title-section {
        @include base-title(--text-size-xl, --weight-bold, --primary);
    }
    
    .#{$prefix}title-sub {
        @include base-title(--text-size-l, --weight-bold, --primary);
    }
    
    .#{$prefix}subtitle-main {
        @include base-subtitle(--text-size-l, --weight-bold, --secondary);
    }
    
    .#{$prefix}subtitle-section {
        @include base-subtitle(--text-size-m, --weight-bold, --secondary);
    }
    
    .#{$prefix}subtitle-sub {
        @include base-subtitle(--text-size-m, --weight-normal, --secondary);
    }
    
}

@include prefix-titles;
