@mixin base-title($font-size, $font-weight, $color) {
    font-family: var(--font-primary);
    font-size: var($font-size);
    font-weight: var($font-weight);
    color: var($color);
}

@mixin base-subtitle($font-size, $font-weight, $color) {
    font-family: var(--font-secondary);
    font-size: var($font-size);
    font-weight: var($font-weight);
    color: var($color);
}

@mixin prefix-titles { 
    .#{$prefix}main-title {
        @include base-title(--text-size-xxl, --weight-bold, --primary);
    }
    
    .#{$prefix}section-title {
        @include base-title(--text-size-xl, --weight-bold, --primary);
    }
    
    .#{$prefix}sub-section-title {
        @include base-title(--text-size-l, --weight-bold, --primary);
    }
    
    .#{$prefix}main-subtitle {
        @include base-subtitle(--text-size-l, --weight-bold, --secondary);
    }
    
    .#{$prefix}section-subtitle {
        @include base-subtitle(--text-size-m, --weight-bold, --secondary);
    }
    
    .#{$prefix}sub-section-subtitle {
        @include base-subtitle(--text-size-m, --weight-normal, --secondary);
    }
    
}

@include prefix-titles;
