@mixin base-toggle($background-color) {
    &.checked {
        background-color: $background-color;
    }

    input:checked+& {
        background-color: $background-color;
    }
}

@mixin prefix-form {
    .#{$prefix}toggle {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .#{$prefix}toggle input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .#{$prefix}toggle-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        border-radius: 34px;
        transition: .4s;
    }

    .#{$prefix}toggle-slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        border-radius: 50%;
        transition: .4s;
    }

    input:checked+.#{$prefix}toggle-slider:before {
        transform: translateX(26px);
    }

    input:checked+.#{$prefix}toggle-blue {
        background-color: #2196F3;
    }

    .#{$prefix}toggle-success {
        @include base-toggle(#28a745);
    }

    .#{$prefix}toggle-info {
        @include base-toggle(#17a2b8);
    }

    .#{$prefix}toggle-warning {
        @include base-toggle(#ffc107);
    }

    .#{$prefix}toggle-danger {
        @include base-toggle(#dc3545);
    }

    .#{$prefix}toggle-light {
        @include base-toggle(#f8f9fa);
    }

    .#{$prefix}toggle-dark {
        @include base-toggle(#343a40);
    }
}

@include prefix-form;