@mixin base-badge($background-color, $color) {
    display: inline-block;
    font-family: var(--font-secondary);
    font-size: var(--text-size-s);

    color: $color;
    background-color: $background-color;

    padding: var(--space-8);
    border-radius: var(--space-6);
}

@mixin base-badge-outline($color) {
    display: inline-block;
    font-family: var(--font-secondary);
    font-size: var(--text-size-s);

    color: $color;
    border: 1px solid $color;
    background-color: var(--white);

    padding: var(--space-8);
    border-radius: var(--space-6);
}

@mixin prefix-badges {
    .#{$prefix}badge-dark {
        @include base-badge(var(--transparent), var(--dark));
    }
    
    .#{$prefix}badge-success {
        @include base-badge(var(--success), var(--white));
    }
    
    .#{$prefix}badge-info {
        @include base-badge(var(--info), var(--white));
    }
    
    .#{$prefix}badge-warning {
        @include base-badge(var(--warning), var(--dark));
    }
    
    .#{$prefix}badge-danger {
        @include base-badge(var(--danger), var(--white));
    }
    
    .#{$prefix}badge-primary {
        @include base-badge(var(--primary), var(--white));
    }
    
    .#{$prefix}badge-secondary {
        @include base-badge(var(--secondary), var(--white));
    }

    .#{$prefix}badge-outline-dark {
        @include base-badge-outline(var(--dark));
    }
    
    .#{$prefix}badge-outline-success {
        @include base-badge-outline(var(--success));
    }
    
    .#{$prefix}badge-outline-info {
        @include base-badge-outline(var(--info));
    }
    
    .#{$prefix}badge-outline-warning {
        @include base-badge-outline(var(--warning));
    }
    
    .#{$prefix}badge-outline-danger {
        @include base-badge-outline(var(--danger));
    }
    
    .#{$prefix}badge-outline-primary {
        @include base-badge-outline(var(--primary));
    }
    
    .#{$prefix}badge-outline-secondary {
        @include base-badge-outline(var(--secondary));
    }
}

@include prefix-badges;
