
@mixin base-button($font-family, $font-size, $color, $background-color, $border-color) {
    font-family: var($font-family);
    font-size: var($font-size);
    color: var($color);

    background-color: var($background-color);
    border: solid 1px var($border-color);
    padding: var(--space-8) var(--space-16);
    border-radius: var(--space-6);

    cursor: pointer;
}

@mixin base-outline-button($color) {
    font-family: var(--font-secondary);
    font-size: var(--size-l);
    color: var(#{$color});

    background-color: var(--white);
    border: 1px solid var(#{$color});
    padding: var(--space-8) var(--space-16);
    border-radius: var(--space-6);

    cursor: pointer;
}

@mixin base-disable {
    cursor: not-allowed;
}

@mixin base-hover {
    &:hover {
        transform: scale(1.1);
        transition-property: transform;
        transition-duration: var(--animation-m);
    }
}

@mixin base-focus {
    &:focus {
        box-shadow: var(--box-shadow-m);
        transition-property: box-shadow;
        transition-duration: var(--animation-s);
    }
}

@mixin prefix-buttons {
    .#{$prefix}button-success {
        @include base-button(--font-secondary, --text-size-m, --white, --success, --success);
    }
    
    .#{$prefix}button-info {
        @include base-button(--font-secondary, --text-size-m, --white, --info, --info);
    }
    
    .#{$prefix}button-warning {
        @include base-button(--font-secondary, --text-size-m, --white, --warning, --warning);
    }
    
    .#{$prefix}button-danger {
        @include base-button(--font-secondary, --text-size-m, --white, --danger, --danger);
    }
    
    .#{$prefix}button-light {
        @include base-button(--font-secondary, --text-size-m, --dark, --light, --light);
    }

    .#{$prefix}button-gray {
        @include base-button(--font-secondary, --text-size-m, --light, --gray, --gray);
    }
    
    .#{$prefix}button-dark {
        @include base-button(--font-secondary, --text-size-m, --light, --dark, --dark);
    }
    
    .#{$prefix}button-outline-success {
        @include base-outline-button(--success);
    }
    
    .#{$prefix}button-outline-info {
        @include base-outline-button(--info);
    }
    
    .#{$prefix}button-outline-warning {
        @include base-outline-button(--warning);
    }
    
    .#{$prefix}button-outline-danger {
        @include base-outline-button(--danger);
    }
    
    .#{$prefix}button-outline-light {
        @include base-outline-button(--dark);
    }
    
    .#{$prefix}button-outline-dark {
        @include base-outline-button(--dark);
    }

    .#{$prefix}button-outline-gray {
        @include base-outline-button(--gray);
    }
    
    .#{$prefix}effect-hover {
        @include base-hover();
    }

    .#{$prefix}effect-focus {
        @include base-focus();
    }

    .#{$prefix}effect-disable {
        @include base-disable;
    }

}

@include prefix-buttons;
