@mixin prefix-collapse { 
	.#{$prefix}separator-vertical {
		@include base-separator(1px, 100%, 0 var(--space-16));
	}

    .#{$prefix}collapse-header {
        @extend .#{$prefix}width-full;
        text-align: left;
    
        background-color: var(--white);
        padding: var(--space-16);
    
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    .#{$prefix}collapse-body-hide {
        @extend .#{$prefix}none;
        padding: var(--space-16);
    }
    
    .#{$prefix}collapse-body-show {
        @extend .#{$prefix}block;
    
        background-color: var(--white);
        padding: var(--space-16);
    }
}

@include prefix-collapse;
