@mixin base-modal($width, $height, $z-index, $breakpoint) {
    @extend .#{$prefix}fixed;
    @extend .#{$prefix}center;

    width: $width;
    height: $height;
    background-color: var(--white);
    border-radius: var(--space-8);
    padding: var(--space-16);
    z-index: $z-index;
}

@mixin base-modal-responsive($width, $height) {
    @media screen and (max-width: 768px) {
        width: $width;
        height: $height;
    }
}

@mixin base-hide-modal {
    display: none;
}

@mixin prefix-modal { 
    .#{$prefix}modal-show {
        @include base-modal(600px, 500px, var(--elevation-modal), var(--breakpoint-m));
        @include base-modal-responsive(90%, 90%);
    }
    
    .#{$prefix}dialog-show {
        @include base-modal(500px, 350px, var(--elevation-dialog), var(--breakpoint-m));
        @include base-modal-responsive(90%, 300px);
    }
    
    .#{$prefix}modal-hide {
        @include base-hide-modal();
    }
    
    .#{$prefix}dialog-hide {
        @include base-hide-modal();
    }
}

@include prefix-modal;
